name: MyST GitHub Pages Deploy

# Only run this when the master branch changes
on:
  push:
    branches: [main] 

  workflow_dispatch:        # manual “Run workflow” button
    # If your git repository has the Jupyter Book within some-subfolder next to
    # unrelated files, you can make this run only if a file within that specific
    # folder has been modified.
    #
    # paths:
    # - content/**

# Determine the URL
env:  
  BASE_URL: /${{ github.event.repository.name }}

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  
# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Setup Pages
      uses: actions/configure-pages@v3
    - uses: actions/setup-node@v4
      with:
        node-version: 18.x

    # Build the page
    - name: Build the book
      run: myst build --html
    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
